/* Sci-fi techno hologram style */
#pageHeader {
    text-align: center;
    color: #6ccfcf;
    font-family: monospace;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.planetPage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#messages-container {
    width: 30vw;
    height: 80vh;
    text-align: left;
    margin: 50px;
    padding: 10px 20px 20px 20px;

    color: #6ccfcf;
    font-family: monospace;

    background: #043e624c;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    border-radius: 1rem;
}

#topImage {
    width: 20vw;
    height: 20px;
    /* border-radius: 1rem;
    background: #1404624c;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px); */
    margin-bottom: 10px;
}

#bottomImageDiv {
    /* Right align */
    width: 30vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    padding-top: 15px;
}

#bottomImage {
    width: 20vw;
    height: 20px;
}

#messages {
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.message {
    padding-right: 10px;
    padding-left: 10px;
    width: 90%;
    margin-bottom: 10px;
    border-radius: 1rem;
    border-color: #35c5c5c3;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
}

.message-divider {
    width: 90%;
    margin-bottom: 10px;
    border-radius: 1rem;
    border-color: #35c5c5c3;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
}

.message:hover {
    background: #35c5c562;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.message-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #058ea0a4;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #60c7d1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #187e87;
}